- var title = "Схема работы";
-
  const schemeItems = [
      {
        source: "bell.svg",
        alt: "bell icon",
        title: "Звонок или заявка",
        number: 1
      },
      {
        source: "measurements_1.svg",
        alt: "measurements_1 icon",
        title: "Замер",
        number: 2
      },
      {
        source: "money.svg",
        alt: "money icon",
        title: "Оплата удобным способом",
        number: 3
      },
      {
        source: "Clean.svg",
        alt: "Clean icon",
        title: "Монтаж в кратчайшие срокипосле оплаты",
        number: 4
      }
  ];

section.scheme-work
  .container
    h2.scheme-work__title.title= title
    .scheme-work__wraper
      each item in schemeItems
        .scheme-work__item
          .scheme-work__mainblock
            .scheme-work__center
              .scheme-work__line
              .scheme-work__circle
                .scheme-work__number= item.number
              img(src=require("/images/icons/" + item.source), alt=item.alt).scheme-work__img
              .scheme-work__name= item.title

            
    

