- var title = "Наши цены ";
- 
  const catalogue = [
      {
          name: "Поручни",
          type: "handrails",
          list: [
              {
                name: "Одноуровневые поручни", 
                price: "1550" 
              },
              {
                name: "Двухуровневые поручни", 
                price: "3250" 
              },
              {
                name: "Поручни для бассейнов", 
                price: "1550" 
              },
              {
                name: "Поручень-отбойник", 
                price: "1550" 
              },
          ]
      },
      {
          name: "Перила",
          type: "banisters",
          list: [
              {
                name: "Перила с леерами", 
                price: "2850" 
              },
              {
                name: "Перила без лееров", 
                price: "2550" 
              },
              {
                name: "Перила со стеклом", 
                price: "5850" 
              },
              {
                name: "Перила для школ и детских садов", 
                price: "4850" 
              },
              {
                name: "Перила с боковым креплением", 
                price: "2550" 
              },
          ]
      },
      {
          name: "Ограждения",
          type: "fences",
          list: [
              {
                name: "Ограждения внутренние", 
                price: "2550" 
              },
              {
                name: "Ограждения уличные", 
                price: "2850" 
              },
              {
                name: "Ограждения для балконов и лоджий", 
                price: "4850" 
              },
              {
                name: "Ограждения для террас и веранд", 
                price: "4850" 
              },
              {
                name: "Ограждения для крыльца", 
                price: "2850" 
              },
          ]
      },
  ];


section.prices(id="prices") 
    .container
        h2.title.prices__title(data-wow-duration="1s").wow.animated.animate__fadeIn= title
        .prices__wrap
            .prices__layout 
                each item, index in catalogue
                    input(name="nav" class=`${item.type}-radio` type="radio" id=`${item.type}` checked=index == 0 )
                    .prices__page(class=`${item.type}-page`)
                        .prices__page-contents
                            .prices__row
                                .prices__left-col
                                    .prices__subtitle Продукция
                                .prices__right-col
                                    .prices__subtitle Цена за погонный метр
                            each product in item.list
                                .prices__row
                                    .prices__left-col
                                        span.prices__text=product.name
                                    .prices__right-col
                                        span.prices__text 
                                            |от&nbsp; 
                                            =product.price 
                                            |&nbsp; руб.
                    label.prices__nav(for=`${item.type}`)
                        span=item.name
